*{
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
}
body{
    background:#000;
    color: #fff;
}
a{
    text-decoration: none;
}

/* animation */
.leafs{
    position: absolute;
    top: 20px;
    color: #FFFFCC;
    animation: animate 5s linear forwards;
}
.leafs::before{
    content: '\f06c';
    font-family: fontAwesome;
    text-shadow: 0 0 5px #fff,
    0 0 10px #fff,
    0 0 30px #fff;

}
@keyframes animate{
    0%{
        transform:translateY(0) rotate(0deg);
        opacity: 0.5;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        transform:translateY(300vh) rotate(360deg);
        opacity: 0.5;
    }
}

.container{
    padding: 10px 10%;
}

/** menubar**/
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin:20px 20px;
}
nav li a{
    font-size: 20px;
    font-weight: 500;
    position: relative;
    color:peru;
}
nav li a::after{
    content:' ';
    width:0;
    height: 4px;
    background: maroon;
    position: absolute;
    bottom:-5px;
    left: 0;
    transition: 0.5s;
}
nav li a:hover::after{
    width:100%;
}
.logo{
    display: inline-block;
    font-size: 20px;
    color: #fff;
    width: fit-content;
    height: fit-content;
    padding: 3px;
    position:relative;
    top:5px;
}
/* resume button */
.btn{
    display:inline-block;
    border: 1px solid #ff004f;
    width: fit-content;
    height: fit-content;
    border-radius: 6px;
    padding:5px;
    color: #fff;
    margin-left: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background-color:#ff004f;
}

/**profolio picture**/
.picture{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.picture img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.description{
    text-align: center;
    color: #fff;
}
/* Soical Icons */
.social-icons{
    display: flex;
    justify-content: center;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin: 20px 20px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: peru;
    transform: translateY(-5px);
}

/* About */
#about{
    padding: 80px 0;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 45px;
    font-weight: 600;
}
.tab-titles{
    display: flex;
    margin-left: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: ' ';
    width: 0;
    height: 3px;
    background-color: #ff004f;
    position:absolute;
    left:0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents p{
    margin:10px 0;
    color: gray;
}
.tab-contents p span{
    color: #b54769;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* Porfolio */
#porfolio{
    padding: 30px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 30px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    border: 1px solid peru;
    padding:10px 10px;
    transition: transform 0.5s;
}
.work:hover{
    background-color: peru;
    transform:translateY(-5px);
}
.work h3{
    font-size: 20px;
    margin-bottom: 10px;
}
.work a{
    margin-top: 5px;
    color:#ff004f;
    text-decoration: none;
    font-size: 20px;
    line-height: 30px;
}